{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "rules":{
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "none"
            }
        ]
    },
    "parser": "babel-eslint",
    "plugins": [
        "prettier"
    ]
}